@import "./base.scss";
html {
  background-color: $b1;
  color: $f1;
  overflow: auto;
  min-width: min-content;
  font-family: "Courier New", Courier, monospace;
  @media screen and (min-width: 400px) {
    overflow: hidden;
  }
}
body {
  @include flexC();
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  @media screen and (min-width: 400px) {
    align-items: center;
  }
  #mainContainer {
    @include flexC();
    margin: 0;
    align-items: stretch;
    width: 100%;
    @media screen and (min-width: 400px) {
      width: 70vw;
      margin: 1rem;
      min-width: min-content;
      max-width: 60rem;
    }
    #contentContainer {
      @include flexC();
      align-items: center;
      gap: 0.5rem;
      padding: 0.1rem;
      background-color: $b3;
      border-left: 1px solid $b4;
      border-radius: 0.25rem 0.25rem 0 0;
      @media screen and (min-width: 400px) {
        padding: 0.5rem;
      }
    }
  }
}
.pageTitle,
a:not(.selected) {
  &:hover {
    color: $e1;
  }
}
