$b1: #111;
$b2: #222;
$b3: #333;
$b4: #444;
$b5: #555;
$f1: #bbb;
$f2: #ccc;
$f3: #ddd;
$f4: #eee;
$e1: #a3c;
@mixin flexR {
  display: flex;
  flex-direction: row;
}
@mixin flexC {
  display: flex;
  flex-direction: column;
}
@mixin border1($c, $r) {
  border-radius: $r $r 0 0;
  border-top: 1px solid $c;
  border-left: 1px solid $c;
}
