@import "./base.scss";
header {
  > * {
    padding: 0.5rem;
  }
  @include flexR();
  min-width: min-content;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $b2;
  h1 {
    @include flexC();
    .pageTitle {
      font-size: large;
      font-weight: bolder;
    }
  }
  nav {
    @include flexR();
    margin-left: auto;
    align-self: flex-end;
    gap: 1rem;
    padding-bottom: 0;
    a {
      white-space: nowrap;
      padding: 0.25rem;
      &.selected {
        background-color: $b3;
      }
    }
  }
}
