@import "./base.scss";
header {
  > * {
    padding: 0.5rem;
  }
  @include flexR();
  min-width: min-content;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, $b1 0, $b2 4px, $b2);
  h1 {
    @include flexC();
    cursor: default;
    .pageTitle {
      font-size: large;
      font-weight: bolder;
    }
  }
  nav {
    @include flexR();
    margin-left: auto;
    align-self: flex-end;
    gap: 1rem;
    padding-bottom: 0;
    a {
      white-space: nowrap;
      padding: 0.25rem;
      background-color: $b2;
      &.selected {
        background-color: $b3;
      }
    }
  }
  @include border1($b4, 0.5rem);
  a {
    @include border1($b3, 0.2rem);
    box-shadow: 0.1rem 0.05rem 0.1rem 0.05rem $b1;
    &:hover {
      @include border1($b4, 0.2rem);
    }
  }
  a.selected {
    @include border1($b4, 0.2rem);
    &:hover {
      cursor: default;
    }
  }
}
