@import "./base.scss";

.skills-table {
  @include flexC();
  gap: 0.5rem;
  > .row {
    @include flexR();
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    > .img-name {
      @include flexR();
      align-items: center;
      gap: 0.3rem;
      > img {
        max-width: 2rem;
      }
    }
  }
}

table {
  > caption {
    font-weight: bolder;
    color: desaturate($e1, 20%);
    text-align: left;
    &:hover {
      color: $e1;
    }
  }
  > thead {
    text-align: left;
  }
  tbody > tr:nth-of-type(odd) {
    background-color: $b2;
  }
  tr > td {
    > * {
      display: inline;
      vertical-align: middle;
      text-align: left;
    }
    &.img-container {
      border: 0.5rem inset transparent;
    }
    > img {
      width: 2rem;
    }
  }
}
