@import './base.scss';

.skills {
  @include flexR();
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  > .skillCard {
    @include card();
    @include flexR();
    gap: 0.25rem;
    > .name-prof {
      @include flexC();
      > .skill-name {
        font-weight: bold;
        color: lighten($e1, 20%);
      }
      > .proficiency {
        font-size: 0.8rem;
        font-style: italic;
      }
    }
    > img {
      width: 2rem;
      max-height: 2rem;
    }
  }
}
.projects {
  width: 100%;
  @include flexR();
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 0.5rem;
  > .projectCard {
    @include card();
    > h3 {
      font-size: large;
      font-weight: bold;
    }
    > .cardContent {
      @include flexR();
      gap: 0.5rem;
      max-width: 50rem;
      > .left {
        width: 30%;
        > a > img {
          width: 100%;
        }
      }
      > .right {
        width: 70%;
      }
      .label {
        font-weight: bold;
        color: lighten($e1, 20%);
      }
    }
  }
}
