@import './base.scss';
body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $b1;
  color: $f1;
  #mainContainer {
    margin-top: 1rem;
    width: calc(100vw - 2rem);
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include phone {
      margin-top: 0;
      width: 100vw;
    }
  }
  #contentContainer {
    background-color: $b2;
    padding: 0.5rem;
    @include flexC();
    form.skillForm,
    form.projectForm {
      @include flexR();
      justify-content: stretch;
      align-items: stretch;
      flex-wrap: wrap;
      @include phone {
        @include flexC();
      }
      background-color: $b3;
      padding: 0.25rem;
      label {
        @include flexC();
        flex: 1;
        justify-content: stretch;
        gap: 0.2rem;
        input,
        select,
        textarea {
          background-color: $b4;
          color: $f2;
          width: 100%;
          // max-width: 10rem;
          border: 1px solid $b2;
          height: 1.8rem;
          padding: 0.2rem;
          &:focus {
            outline: 1px solid $f1;
          }
          &.changed {
            border-bottom-color: $changed;
          }
        }
        input[type='file'] {
          display: none;
        }
      }
    }
  }
  a {
    color: unset;
    text-decoration: unset;
  }
  img.logo {
    width: 2rem;
    border: 1px solid $b2;
    &:hover {
      cursor: pointer;
    }
  }
  img.project-image {
    width: 10rem;
    border: 1px solid $b2;
    &:hover {
      cursor: pointer;
    }
  }
  .form-buttons {
    @include flexC();
    @include phone {
      @include flexR();
      justify-content: center;
    }
    gap: 0.3rem;
    button {
      @include formButton();
    }
  }
  button {
    @include formButton();
  }
  .column {
    flex: 1;
    @include flexC();
    justify-items: stretch;
    textarea {
      flex: 1;
    }
  }
  fieldset#form-footer {
    @include flexR();
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    > label.checkbox-label {
      flex: unset;
      @include flexR();
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: unset;
      > input {
        width: unset;
      }
    }
  }
}
