@import "./base.scss";
header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  background-color: $b2;
  padding: 0.5rem;
  @include phone {
    padding: 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    @include phone {
      flex-direction: column;
    }
    a {
      @include button($b3, $f3);
    }
    a:hover {
      background-color: transparentize($b3, 0.5);
      color: #fff;
    }
    a.active {
      background-color: unset;
      &:hover {
        color: $f3;
        cursor: default;
      }
    }
  }
}
