@import "./base.scss";
header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: $b2;
  padding: 0.5rem;
  @include phone {
    padding: 0;
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    @include phone {
      flex-direction: column;
    }
    a,
    button {
      @include button($b3, $f3);
    }
  }
}
